@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>

    <p>Este es un registro de los muncipios de El Salvador en donde se a llevado acabo actividades de UGB Verde</p>


    <a href="https://ibb.co/866VZx2"><img src="https://i.ibb.co/kQQFCD0/el-salvador-mapa.png" alt="el-salvador-mapa" border="0"></a>

    <p class="text-justify">El contexto nacional y mundial en que se desarrollan los negocios cambia vertiginosamente y la competitividad se ha convertido en un atributo necesario para las empresas de todo tamaño.

Ante tales exigencias tenemos el objetivo de formar los profesionales competitivos que el mundo de los negocios necesita.
Nuestra educación se fundamenta en un modelo educativo que prioriza el desarrollo de competencias, un equipo docente altamente calificado dotado con recursos educativos y tecnológicos que facilitan el proceso de enseñanza aprendizaje.

La educación es un bien de la humanidad y por lo tanto realizamos esfuerzos permanentes por democratizarla y volverla más accesible, eliminando fronteras y obstáculos. La educación virtual es una 
oportunidad y una forma de aprender que se acomoda al tiempo y necesidad del estudiante, además, facilita el manejo de la información y la comunicación por medio de una computadora conectada a internet y, 
aunque se aprende desde la casa o el trabajo, el estudiante se comunica e interactúa a distancia con el tutor y con sus compañeros, creando una comunidad de aprendizaje.

Somos pioneros en la zona oriental de El Salvador ofreciendo la Licenciatura en Administración de Empresas no presencial y seguimos trabajando por ampliar nuestro portafolio de carreras en esta modalidad.
Nuestra historia de más de tres décadas está representada por miles de profesionales que actualmente laboran para importantes empresas e instituciones o se han convertido en empresarios exitosos que 
le aportan dinamismo a la economía de nuestro país.
Confiamos en dejarle a El Salvador un legado educativo histórico representado en una sociedad más justa y humana en la cual el bienestar económico y social sea posible para todos los salvadoreños. </p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/gJ8fXIc3TCU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    



</div>
